@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #292929;
}

.snake-shadow{
    box-shadow: 0px 0px 10px #51ff00;
}

.apple-shadow{
    box-shadow: 0px 0px 10px red;
}